@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .preloader {
    @apply h-full fixed w-full z-50 bg-primary transition-opacity duration-1000 flex items-center justify-center;
  }

  .loader {
    @apply relative w-[120px] h-[90px] mx-auto;
  }

  .loader::before {
    @apply content-[''] absolute bottom-[30px] left-[50px] h-[30px] w-[30px] rounded-full bg-accent;
    animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }

  .loader::after {
    @apply content-[''] absolute right-0 top-0 h-[7px] w-[45px] rounded-[4px];
    box-shadow: 0 5px 0 #f2f2f2, -35px 50px 0 #f2f2f2, -70px 95px 0 #f2f2f2;
    animation: loading-step 1s ease-in-out infinite;
  }
}

/* Preloader keyframes */
@keyframes loading-bounce {
  0% { transform: scale(1, 0.7); }
  40% { transform: scale(0.8, 1.2); }
  60% { transform: scale(1, 1); }
  100% { bottom: 140px; }
}

@keyframes loading-step {
  0% {
    box-shadow:
      0 10px 0 rgba(0, 0, 0, 0),
      0 10px 0 #f2f2f2,
      -35px 50px 0 #f2f2f2,
      -70px 90px 0 #f2f2f2;
  }
  100% {
    box-shadow:
      0 10px 0 #f2f2f2,
      -35px 50px 0 #f2f2f2,
      -70px 90px 0 #f2f2f2,
      -70px 90px 0 rgba(0, 0, 0, 0);
  }
}
